/* ================================= 
  Base Element Styles
==================================== */

/*框架*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #83b1c9;
  font-size:100%;
  font-family: sans-serif;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  padding: 20px;
}

section {
  margin:20px;
  width:80%;
  background: #fff;
  padding: 1em;
  box-shadow: 0 0 1em #222;
  border-radius: 30px;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 1em;
  display: flex;
}

article {
  flex-grow:1;
}

.title {
  font-size: 2em;
}

.button {
  background-color: #C6D2BE;
  border: solid 1px #9b9b9b;
  text-align: center;
  padding: 5px;
  color: #fff;
  border-radius:5px;
}

.border{
  border: solid 1px #9b9b9b;
  border-radius:30px;
}

.friendContent{
  height: 25vh;
  padding-right: 17%;
}

.flex_row {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_evently{
  display: flex;
  justify-content:space-evenly;
}

.flex_end{
  display: flex;
  justify-content:flex-end;
}

.flex_align_end{
  display: flex;
  align-items:end;
}

.label{
  width: 70%;
}

.input{
  margin-left: 50px;
  margin-right: 20px;
  border-radius: 5px;
  border: solid 1px #83b1c9
}

.friendSystem{
  display: flex;
  flex-direction: column;
}

.friendSystem_search{
  display: flex;
  width:100%
}

.searchId{
  width:20%;
  font-size:1em;
}

.searchContent{
  display: flex;
  width: 80%;
}

.searchInput{
  width:50%;
  margin: 10px 0px;
}

.friendResult{
  display: flex;
  width:50%;
  justify-content:space-evenly;
  margin: 9px 0px;
}

.articleFunction{
  width:40%;
}


.friendbutton{
  margin-right: 50px;
  margin-left: 50px;
}